<h1>Attribute directive and Parent component passing value</h1>
<p [class.highlight]='isUpdate' [style.font-size.px]="fontSize"> {{prefix}}+ Message From Parent:{{message}}</p>
<button type="button" (click)="changePrefix()">click to change prefix and font size</button>
<hr>

<h1>pass value to parent component</h1>
<button type="button" (click)="emitDataToParent()">click to pass prefix value to parent</button>
<hr>

<h1>structure directive : *ngif </h1>
<p *ngIf="isUpdate">When see this text ,it means the prefix has been changed</p>
<button type="button" (click)="changePrefix()">click to change prefix</button>
<hr>

<h1>structure directive : *ngfor</h1>
<table border="1">
  <tr>
    <th>#</th>
    <th>id</th>
    <th>name</th>
    <th>email</th>
  </tr>
  <!-- type ngforinx choose ng-for-index -->
  <tr *ngFor="let user of fakeUsers; let i=index">
    <td>{{i}}</td>
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
  </tr>
</table>
<hr>

<h1>ngclass,ngClass,ngswithch</h1>
<table border="1">
  <tr>
    <th>#</th>
    <th>id</th>
    <th>name</th>
    <th>email</th>
  </tr>
  <!-- type ngforinx choose ng-for-index -->
  <tr *ngFor="let user of fakeUsers; let i=index"
    [class.highlight1]='i ===0 '
    [ngClass]="{'highlight2':i%2===1 }"
  >
    <td>
      <span ngSwitch='{{i}}'>
        <p *ngSwitchCase="0">zero</p>
        <p *ngSwitchCase="1">ID=1</p>
        <p *ngSwitchDefault>{{i}}/{{user.id}}/{{user.name}}/{{user.email}}</p>
      </span></td>
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
  </tr>
</table>
<hr>

<h1>pip</h1>
<pre>{{fakeUsers | json}}</pre>
<hr>

<h1>custom pip ROC era</h1>
<table border="1">
  <tr>
    <th>#</th>
    <th>id</th>
    <th>name</th>
    <th>email</th>
  </tr>
  <tr *ngFor="let item of fakeUsers; let i=index">
    <td>{{i}}/{{today | twdate}}</td>
    <td>{{today | date:'yyyy-MM-dd'}}</td>
    <td>{{811 | currency:'TWD':'symbol':'1.0-0' }}</td>
    <td>{{0.123 | percent}}</td>
  </tr>
</table>


