<!-- event binding -->
<div (mousemove)="catchMouseMove($event)">
  <!-- interpolation -->
  <h1>{{title}}</h1>
  <hr>
  <!-- property binding -->
  <code [title]="title">F12 to see this tag attribute </code>
  <hr>
  <h1>show mouse event result:</h1>
    coordinate : <code>{{x}},{{y}}</code>
  <hr>
  <!-- two way binding must import FormsModule -->
  <textarea [(ngModel)]="title" cols="10" rows="5"></textarea>
  <hr>
  <h1>template variable</h1>
  <!-- template variable can use # or ref-name -->
  <input #mInput type="text">
  <br><br>
  <button type="button" (click)="getDataFromInput(mInput.value)">get template variable</button>
  <hr>
  <h1>event filter use keyup.escape</h1>
  <textarea [(ngModel)]="textArea" cols="10" rows="5" (keyup.escape)="clearContent()"></textarea>
  <hr>
</div>
<div>
  <h1>Header is here</h1>
  <!-- add header component -->
  <!-- see pass value to child -->
  <app-header #mHeader [message]="title" (update)="title = $event"></app-header>
  <hr>
  <h1>show parent call child method</h1>
  <button type="button" (click)="mHeader.updatePrefixFromExternal('Parent call child method');getDataFromInput('testtest')">
  click to call child method
  </button>
</div>
